name: Diff

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
        description: "The github environment to diff against."

permissions:
  id-token: write
  contents: read

jobs:
  diff:
    name: Diff to ${{ inputs.environment }}
    environment: ${{ inputs.environment }}
    env:
      ENVIRONMENT: ${{ vars.ENVIRONMENT }}
      CDK_DEPLOY_ACCOUNT: ${{ vars.ACCOUNT_ID }}
      CDK_DEPLOY_REGION: ${{ vars.REGION }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::${{ vars.ACCOUNT_ID }}:role/${{ vars.DEPLOYMENT_ROLE }}
          role-session-name: cdk-deployment-${{ vars.REGION }}-${{ vars.ACCOUNT_ID }}
          aws-region: ${{ vars.REGION }}

      # -------------------------
      # Build React Frontend
      # -------------------------
      - name: Build React Website
        working-directory: frontend
        run: |
          npm ci
          npm run build

      # -------------------------
      # Install CDK Dependencies
      # -------------------------
      - name: Install CDK Dependencies
        working-directory: cdk
        run: |
          npm install -g aws-cdk
          pip install -r requirements.txt

      - name: Show CDK Version
        run: cdk --version

      # -------------------------
      # CDK Synth
      # -------------------------
      - name: CDK Synth
        working-directory: cdk
        run: |
          cdk synth --context environment=${{ inputs.environment }}

      # -------------------------
      # CDK Deploy
      # -------------------------
      - name: Diff CDK Stacks
        working-directory: cdk
        run: |
          cdk diff --app 'cdk.out/' --all --require-approval never --context environment=${{ inputs.environment }}